$primary: #4682b4 !default;
$secondary: slategray !default;
$success: forestgreen !default;
$info: teal !default;
$warning: chocolate !default;
$danger: indianred !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;